.experience {
  &__wrapper {
    max-width: calc(1424rem + 40rem);
    margin-inline: auto;
    padding: 0 8px;
  }

  .container {
    max-width: 1424rem;
    padding: 85rem 149rem;
    margin-inline: auto;
    background: $section-bg;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80rem;

    @include tablet {
      padding: 85rem 20rem;
    }
  }

  &__header {
    width: 100%;
  }

  &__info {
    max-width: 730rem;
  }

  &__title {
    @extend %title;
    span {
      color: $primary-color;
    }
    margin-bottom: 24rem;
  }

  &__desc {
    @extend %desc;
  }

  &__link {
    transition: $transition;
    &:hover {
      transform: $transform-img;
    }
  }

  .experience-list {
    display: grid;
    width: 100%;
    grid-template-columns: calc(372 / 1126 * 100%) calc(318 / 1126 * 100%) calc(
        372 / 1126 * 100%
      );
    gap: 29rem;
    @include mobile {
      grid-template-columns: 1fr;
    }

    .box-1 {
      max-width: 366rem;
      @include mobile {
        max-width: 100%;
      }
    }

    .box-2 {
      max-width: 336rem;
      @include mobile {
        max-width: 100%;
      }
    }

    .experience-item {
      @extend %grid-item;

      &_date {
        @extend %desc;
        color: $abovetitle-item-color-txt;
        font-size: 20rem;
        margin-bottom: 8rem;
      }

      &__title {
        @extend %item-title;
        color: $primary-color;
        text-align: start;
        margin-bottom: 4rem;
      }

      &__app {
        @extend %desc;
        color: $undertitle-item-color-txt;
        margin-bottom: 16rem;
      }

      &__desc {
        flex-grow: 1;
        @extend %desc;
      }
    }
  }
}
